*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    
}
.main-logo{
    margin-left: 142px;
    width: 40px;
    height: 40px;
    margin-right: 70px;
   

}

.main-container{
    display: flex;
    /* margin-top: 20px; */
    height: 50px;
    padding-top: 20px;
    
}
.lucide{
    margin-left: 50px;
}

li{
    list-style: none;
   
}

.main-routes{
    display: flex;
    margin-top: 10px;
    
    
}
.main-routes input[type=text]{
    margin-left: 390px;
    padding: 6px; 
    margin-bottom: 25px;
    border-radius: 50px;
    padding: 9px;
    background-color: white;   
}
.size{
    width: 200px;
    
   
}
ul{
    display: flex; 
    gap: 50px;
}

.anchortag{
    text-decoration: none;
    color: black;
    
}
.main-knowmore{
    background-color: #1e3932;
    height: 85px;
    color: white;
    /* padding: 12px 24px 18px; */
    display: flex;
    justify-content: left;
    align-items: center;
}

.bells{
    margin-left: 142px;
    font-size: 20px;
    margin-bottom: 8px;
    font-weight:300;
}
.more {
    margin-left: 700px;
    padding: 10px 20px;
    background-color: #1e3932 ;
    color: white;
    font-size: large;


}
.btn {
    border-radius: 30px;
    font-size: 12px;
    background-color: #1e3932;
    color: white;
    border: 2px solid white;
    padding: 10px; 
    font-weight: bold;
    width: 120px;
}
.mydiv{
    width: auto;
    height: 500px;    
    /* overflow: hidden; */
}
.curat{
    margin-left: 142px;
    font-size: 30px;
    /* margin-bottom: 28px; */
    font-weight: bolder;
    margin-top: 35px;  
    color: #1e3932;
}
.frap{
width: 105px;
border-radius: 50%;
/* padding: 50px; */
/* margin-left: 60px; */

}
.frap:hover{
    box-shadow: 2px 2px 2px 2px  #00754a;
}
.hot:hover{
    box-shadow: 2px 2px 2px 2px  #00754a;
}
.food:hover{
    box-shadow: 2px 2px 2px 2px  #00754a;
}
.mercen:hover{
    box-shadow: 2px 2px 2px 2px  #00754a;
}    
.free:hover{
    box-shadow: 2px 2px 2px 2px  #00754a;
}
.ready:hover{
    box-shadow: 2px 2px 2px 2px  #00754a;
}
.hot{
    width: 105px;
    border-radius: 50%;
    /* padding: 60px; */
    /* margin-left: 110px;    */
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    /* margin-right:-50px; */
    margin-top: 25px;
    overflow: none;
}   
.food{
    width: 105px;
    /* height: 120px; */
    border-radius: 50%;
    /* padding: 60px; */
    /* margin-left: 155px;     */
}
.mercen{
    width: 105px;
    /* height: 110px; */
    border-radius: 150%;
    /* padding: 60px; */
    /* border: solid; */
    /* margin-left: 195px;    */
}
.free{
    width: 105px;
    /* height: 110px; */
    border-radius: 220%;
    /* padding: 60px; */
}
.ready{
    width: 105px;
    /* height: 120px; */
    border-radius: 290%;
    /* padding: 60px; */
}
.frapclass{
    display: grid;
    justify-content: center;
    gap: 10px;

    /* margin-left: 50px; */

}


.cards-text{
    position: relative;
    text-align: center;
    font-family: sans-serif;
}
.barista{
    margin-left: 142px;
    background-color :#EDEBE9;
    font-size: 30px;
    font-weight: bolder;
    /* margin-top: 35px;   */
    padding-top: 30px;
    color: #1e3932;
}
.sec{
   
    height: 100px;
    background-color: aquamarine;
}
.bari{
    margin-top: 35px;
    background-color: #EDEBE9;
    width: auto;
    height: 300px;
    /* z-index: 1; */
}
.rec{
    display: flex;
    align-items: center;
   
    
}
.box1{
    width: 400px;
    height: 150px;
    background-color:white;
    margin-left: 150px;
    margin-top: 40px;
    border-radius: 5%;
    
}
.box2{
    width: 400px;
    height: 150px;
    background-color: white;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 5%;
}
.straw-img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10%;
}
.veg{
    /* width: 17px;
    height: 17px;   */
    /* margin-bottom: 60px; */
    margin-left: 25px;
    margin-top: 20px ;
}
.stra{
    margin-left: 25px;
    /* padding-bottom: 140px; */

    
}
.van-img{
    width: 80px;
    height: 80px;
    /* margin-left: 20px; */
    margin-top: 20px;
    border-radius: 10%
}
.van{
    display: flex;
    margin-left: 25px;

}
.straw{
    display: flex;
}
.price{
    margin-left: 22px;
    /* margin-top: 15px; */
}
.menu{
    border-radius: 24px;
    font-size: 15px;
    color: white;
    border: 2px solid white;
    padding: 10px; 
    font-weight: bold;
    width: 120px;
    margin-left: 130px;
    background-color: #00754a;
    
}
.menu:hover{
    background-color: #1e3932;
}
.veg-van{
margin-left: 25px;
margin-top: 20px ;
}
.new{
    margin-top: 80px;
    /* padding-top: 20px; */
    margin-left: 142px;
    font-weight: bolder;
    font-size: 30px;
    width: 1000px;
    height: -100px;
    color: #1e3932;
}
.power{
    /* height: 400px; */
}
.box3{
    width: 400px;
    height: 360px;
    background-color:white;
    /* margin-left: 40px;
    margin-top: 40px; */
    /* overflow: -moz-hidden-unscrollable; */
    scroll-behavior: smooth;
    border-radius:20px;
    border: 1px solid black;
    box-shadow: -5px 0px 3px #a9a6a6;
    
}
.box4{
    width: 400px;
    height: 360px;
    background-color:white; 
    /* margin-left: 40px;
    margin-top: 40px;  */
    border-radius:20px;
    border: 1px solid black;
    box-shadow: -5px 0px 3px #a9a6a6;
}
.box5{
    width: 400px;
    height: 360px;
  background-color:white;
  /* margin-left: 40px;
  margin-top: 40px; */
    border-radius:20px;
    border: 1px solid black;
    box-shadow: -5px 0px 3px #a9a6a6;
}
.table{
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-top: 50px;
    gap: 30px;
    margin-bottom: 75px;
}
.iced-img{
    height:150px;
    width: 400px;
    border-radius: 20px 20px 0px 0px;
}
.blanc-img{
    height:150px;
    width: 400px;
    border-radius: 20px 20px 0px 0px;
}
.nut-img{
    height:150px;
    width: 400px;
    border-radius: 20px 20px 0px 0px;
}
.vegg{
    margin-left: 25px;
    margin-top: 20px ;
}
.jug{
    font-weight: bold;
    margin-left: 20px;
}
.k{
    margin-left: 20px; 
}
.para{
    margin-left: 20px; 
    font-size: smaller;
    scroll-behavior: smooth;
}
.betty{
    font-weight: bold;
    margin-left: 20px;
}
.kc{
    margin-left: 20px; 
}
.vero{
    font-weight: bold;
    margin-left: 20px; 
}
.kca{
    margin-left: 20px;
}
.pri{
    margin-right: 20px; 
}
.addd{
    border-radius: 24px;
    font-size: 15px;
    color: white;
    border: 2px solid white;
    padding: 7px; 
    font-weight: bold;
    width: 100px;
    margin-left: 220px;
    background-color: #00754a;
}
.addd:hover{
    background-color: #1e3932;
}
.parag{
    margin-left: 20px; 
    font-size: smaller;
}
.bill{
    margin-right: 20px; 
}
.paragraph{
    margin-left: 20px; 
    font-size: smaller;
}
.money{
    margin-right: 20px; 
}
.about{
    margin-left: 142px;
    padding-top: 40px;
    font-weight: bold;
    font-size: 30px;
    color: #1e3932;
}
.color{
    background-color:#EDEBE9 ;
    height: 530px;
    margin-bottom: 50px;
}
.ture{
    background-color:#E6EDEB;
    border: white;
    color:#096;
    border-radius: 8px;
    font-size: 12px;
    border: 2px solid white;
    padding: 5px; 
    font-weight: bold;
    width: 120px;

    
}
.cult{
    position: absolute;
    top: 16%;
    left: 11.5%;
    margin-left: 22px;
}

.black{
    width: 1280px;
    height: 372px;
    border-radius: 8px;
    margin-left: 55px;
    margin-top: 50px;
    opacity: 1;

}
.world{
    position: relative;
    text-align: center;
    color:white;
}
.rebels{
    position: absolute;
    top: 57%;
    left: 13%;
    font-weight: bold;
    font-size: 30px;
}
.bring{
    position:absolute;
    top: 70%;
    left: 13%;
}
.button{
    position: absolute;
    top: 90%;
    left: 13%;
    border-radius: 24px;
    font-size: 15px;
    color: white;
    border: 2px solid white;
    padding: 5px; 
    font-weight: bold;
    width: 160px;
    /* margin-left: 30px; */
    background-color: white;
}
.bttn{
    background-color: white;
    border: white;
}
.foot{
    height: 600px;
    background-color: #1e3932;
    display: flex;
    gap: 80px;
}
.log{
    width: 60px;
    height: 60px;
    margin-left: 120px;
    padding-top: 120px;
}
.us{
    color: white;
    padding-top: 100px;
    font-weight: bold;
    font-size: 22px;
}
.response{
    color: white;
    padding-top: 100px;
    font-weight: bold;
    font-size: 22px;
    
}
.quick{
    color: white;
    padding-top: 100px;
    font-weight: bold;
    font-size: 22px;
}
.social{
    color: white;
    padding-top: 100px;
    font-weight: bold;
    font-size: 22px;
}
.company{
    font-size: 15px;
    padding-top: 20px;
    font-weight: lighter;
}
.envi{
    font-size: 15px;
    padding-top: 20px;
    font-weight: lighter;
}
.policy{
    font-size: 15px;
    padding-top: 20px;
    font-weight: lighter;
}
.black:hover{
        cursor: pointer;
        transform: translate(0.5px, -0.5px);
        opacity: 0.8;
        margin-left: 55px;      
}
.logos{
    /* display:flex; */
    gap: 50px;
    margin-bottom:400px;
    margin-top: 20px;
}

.logo{
    width: 40px;
    height: 40px;
    gap: 20px;  
    padding-left: 30px;
}
